.Home{
    margin-top: 100px;
    padding: 10vh 10vw;

    display: flex;
    flex-direction: column;
}

.Home .maintitle{
    margin-bottom: 10vh;
    font-size: 3em;
}

.Home .maintitle .blue{
    margin-left: 20px;
    color: cornflowerblue;
    font-size: 1.2em;
}

.Home .section{
    display: flex;
    flex-direction: column;
}

.Home .section .title{
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 2.5em;
}

.Home .section .content{
    margin-bottom: 10vh;
    padding: 15px 15px 5px 15px;

    overflow-x: scroll;
    overflow-y: hidden;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

    border-radius: 10px;
    /* background-color: rgba(255, 255, 255, 0.9); */
    background-color: hsl(0, 0%, 98%);
}

.Home .section .content::-webkit-scrollbar { height: 2px; }
.Home .section .content::-webkit-scrollbar-track { background: lightgray; }/* Track */
.Home .section .content::-webkit-scrollbar-thumb { background: darkgray; }/* Handle */
.Home .section .content::-webkit-scrollbar-thumb:hover { background: gray;  }/* Handle on hover */

.Home .section .content > *{
    margin-right: 20px;
}


.Home .protip{
    width: 100%;
    min-height: 15vh;
    margin-bottom: 10vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: lightgray;

    font-size: 1.3em;
    text-transform: uppercase;
}
.Home .protip label{
    margin-right: 40px;
    font-weight: bold;
}
.Home .protip p{
    max-width: 60vw;
}

.Home .learning-route{
    width: 1000px;
    border: solid 1px lightgray;
    border-radius: 20px;

    position: relative;
    align-self: center;
}
.Home .learning-route img{
    z-index: 10;
    width: 100%;
}

.Home .learning-route a{
    z-index: 20;
    position: absolute;
    top: 248px;
    left: 95px;

    width: 138px;
    height: 27px;

    cursor: pointer;
    outline: none;
    border-radius: 5px;
    border: none;
    background: none;
}

.Home .learning-route a:hover{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}